.container {
  background-color: #1e293b;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
  font-size: 70px;
  color: #f0bb03;
  font-family: 'Bree Serif';
}

.para {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 40px;
}

.buttons {
  background-color: #ffffff;
  color: #1e293b;
  padding: 5px;
  border-radius: 10px;
  border-width: 0px;
  height: 35px;
  width: 100px;
  font-family: 'Bree Serif';
  font-size: 15px;
}
